.elementor-3197 .elementor-element.elementor-element-d63eead:not(.elementor-motion-effects-element-type-background), .elementor-3197 .elementor-element.elementor-element-d63eead > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2024/12/TIS00687-scaled.jpg");background-position:center center;background-size:cover;}.elementor-3197 .elementor-element.elementor-element-d63eead > .elementor-background-overlay{background-color:#111A2966;opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-3197 .elementor-element.elementor-element-d63eead > .elementor-container{min-height:600px;}.elementor-3197 .elementor-element.elementor-element-d63eead{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-bc-flex-widget .elementor-3197 .elementor-element.elementor-element-f080d61.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3197 .elementor-element.elementor-element-f080d61.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3197 .elementor-element.elementor-element-f080d61.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-3197 .elementor-element.elementor-element-95d07e9 span:not(.aux-breadcrumb-sep) a{color:var( --e-global-color-primary );}.elementor-3197 .elementor-element.elementor-element-95d07e9 span:not(.aux-breadcrumb-sep) a:hover{color:var( --e-global-color-primary );}.elementor-3197 .elementor-element.elementor-element-95d07e9 span{font-size:16px;}.elementor-3197 .elementor-element.elementor-element-95d07e9 p.aux-breadcrumbs{transition:all ease-out 0.3s;}.elementor-3197 .elementor-element.elementor-element-c3b61ea > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-3197 .elementor-element.elementor-element-82440ee > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 30px 0px 0px;}.elementor-3197 .elementor-element.elementor-element-b2594a0 > .elementor-widget-container{background-color:#F7F7F7;padding:0px 10px 0px 10px;}.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown a, .elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-menu-toggle{color:var( --e-global-color-accent );}.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown{background-color:#F7F7F7;}.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown a:hover,
					.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-menu-toggle:hover{color:var( --e-global-color-primary );}.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown a:hover,
					.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown a.highlighted{background-color:#F7F7F7;}.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown a.elementor-item-active{color:var( --e-global-color-primary );background-color:#F7F7F7;}.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown .elementor-item, .elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:14px;font-weight:700;}.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown a{padding-left:5px;padding-right:5px;padding-top:16px;padding-bottom:16px;}.elementor-3197 .elementor-element.elementor-element-b2594a0 .elementor-nav-menu--dropdown li:not(:last-child){border-style:solid;border-color:#D9D9D9;border-bottom-width:1px;}.elementor-3197 .elementor-element.elementor-element-179f30a .elementor-accordion-item{border-width:1px;}.elementor-3197 .elementor-element.elementor-element-179f30a .elementor-accordion-item .elementor-tab-content{border-width:1px;}.elementor-3197 .elementor-element.elementor-element-179f30a .elementor-accordion-item .elementor-tab-title.elementor-active{border-width:1px;}.elementor-3197 .elementor-element.elementor-element-179f30a .elementor-tab-title{background-color:var( --e-global-color-primary );padding:26px 26px 26px 26px;}.elementor-3197 .elementor-element.elementor-element-179f30a .elementor-accordion-icon, .elementor-3197 .elementor-element.elementor-element-179f30a .elementor-accordion-title{color:var( --e-global-color-text );}.elementor-3197 .elementor-element.elementor-element-179f30a .elementor-accordion-icon svg{fill:var( --e-global-color-text );}.elementor-3197 .elementor-element.elementor-element-179f30a .elementor-accordion-title{font-family:"Montserrat", Sans-serif;font-size:20px;font-weight:600;}.elementor-3197 .elementor-element.elementor-element-179f30a .elementor-tab-content{color:var( --e-global-color-accent );padding:20px 20px 20px 20px;}@media(max-width:1024px){.elementor-3197 .elementor-element.elementor-element-d63eead > .elementor-container{min-height:300px;}}@media(max-width:767px){.elementor-3197 .elementor-element.elementor-element-82440ee > .elementor-element-populated{padding:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-3197 .elementor-element.elementor-element-82440ee{width:25%;}.elementor-3197 .elementor-element.elementor-element-f670b18{width:74.332%;}}/* Start custom CSS for accordion, class: .elementor-element-179f30a */.elementor-3197 .elementor-element.elementor-element-179f30a .widget-toggle .toggle-header::after {
    content: '\e196'!important;
    font-family: "auxin-front"!important;
    position: absolute;
    right: 35px;
    background-image: none;
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    color: var(--e-global-color-secondary);
    background-position: 0px -450px;
    position: absolute;
    top: 40%!important;
    transform: translateY(-50%);
    transition: transform 300ms;
}
.elementor-3197 .elementor-element.elementor-element-179f30a .widget-toggle .active .toggle-header:after {
    color: var(--e-global-color-b372dcf);
        top: 45%!important;
}
.elementor-3197 .elementor-element.elementor-element-179f30a .elementor-84 .elementor-element.elementor-element-15f6644 .active .toggle-header {
    color: var(--e-global-color-b372dcf);
}
.elementor-3197 .elementor-element.elementor-element-179f30a .aux-toggle-item .active  {
   color: var(--e-global-color-b372dcf) !important;
}


.elementor-3197 .elementor-element.elementor-element-179f30a .widget-toggle .toggle-header:after{
    background-image: none!important;
}
.elementor-3197 .elementor-element.elementor-element-179f30a .active .toggle-header::after{
    transform: rotateX(180deg);
}
.elementor-3197 .elementor-element.elementor-element-179f30a .active{
    padding-top: 20px;
}
@media(max-width:1366px){
    .elementor-3197 .elementor-element.elementor-element-179f30a .aux-toggle-header{
        font-size:21px;
    }
    
    .elementor-3197 .elementor-element.elementor-element-179f30a .aux-toggle-content{
        padding: 0px 20px 20px 0px;
    }
}

@media(max-width:1024px){
    .elementor-3197 .elementor-element.elementor-element-179f30a .aux-toggle-header {
    font-size: 18px;
    }
    .elementor-3197 .elementor-element.elementor-element-179f30a .toggle-content {
    padding: 0px 20px 20px 15px;
}
}

@media(max-width:768px){
    .elementor-3197 .elementor-element.elementor-element-179f30a .aux-toggle-header {
    font-size: 18px;
    }
    .elementor-3197 .elementor-element.elementor-element-179f30a .toggle-content {
    padding: 0px 20px 5px 15px;
}
}

@media(max-width:414px){
    .elementor-3197 .elementor-element.elementor-element-179f30a .aux-toggle-header {
        font-size: 15px;
        line-height: 150%;
        padding-right: 20%;
    }
    
    .elementor-3197 .elementor-element.elementor-element-179f30a .aux-toggle-item{
        border-radius: 15px;
    }
}/* End custom CSS */